@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilização da barra de rolagem (Kanban) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* Slate 300 */
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* Slate 400 */
}

/* Scrollbar no Dark Mode */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #475569; /* Slate 600 */
}